# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# Data not needed at runtime
data/raw/
data/chunks/
data/processed/

# IDE
.vscode/
.idea/
*.code-workspace

# Git
.git/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Notebooks
notebooks/
*.ipynb
.ipynb_checkpoints/

# Tests
tests/

# Docs
docs/

# Secrets
.env
.env.*
!.env.example

# IMPORTANT:
# Keep these files in the Docker image
!data/embeddings/
!data/embeddings/faiss_index.index
!data/embeddings/metadata.jsonl