.env
__pycache__/
*.pyc
*.pyo
.venv/
venv/

data/raw/

# Keep embeddings for deployment
!data/embeddings/
!data/embeddings/*.index
!data/embeddings/*.jsonl

*.faiss
*.pkl

.DS_Store
*.log
logs/

.ipynb_checkpoints/

dist/
build/
*.egg-info/

*.bak
*_bak